.header{
    width: 1200px;
    margin: 20px auto 0;
    & > ul{
        display: flex;
        & > li{
            height: 50px;
            line-height: 50px;
            text-align: center;
            flex-grow: 1;
            background-color: #999;
            & > a {
                text-decoration: none;
                color: #333;
                display: block;

                &:hover {
                    background-color: #bbb;
                }
            }

            & > .selected {
                color: #fff;
            }
        }
    }
}
